<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.folio-scribe.web-sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>__SKILL_DIR__/scripts/sync_tradingweb.sh</string>
        <string>--debounce</string>
        <string>__WEB_SYNC_DEBOUNCE__</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>__VAULT__/Daily</string>
        <string>__VAULT__/Weekly</string>
        <string>__VAULT__/Monthly</string>
        <string>__VAULT__/Rules</string>
    </array>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/launchd-web-sync.out</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/launchd-web-sync.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Frameworks/Python.framework/Versions/3.13/bin</string>
        <key>HOME</key>
        <string>__HOME__</string>
        <key>FOLIO_SCRIBE_VAULT</key>
        <string>__VAULT__</string>
        <key>FOLIO_SCRIBE_WEB_EXPORT_DIR</key>
        <string>__WEB_EXPORT_DIR__</string>
        <key>FOLIO_SCRIBE_WEB_TITLE</key>
        <string>__WEB_TITLE__</string>
        <key>FOLIO_SCRIBE_WEB_DEPLOY</key>
        <string>__WEB_DEPLOY__</string>
        <key>FOLIO_SCRIBE_VERCEL_PROJECT</key>
        <string>__VERCEL_PROJECT__</string>
        <key>FOLIO_SCRIBE_VERCEL_SCOPE</key>
        <string>__VERCEL_SCOPE__</string>
        <key>FOLIO_SCRIBE_VERCEL_TARGET</key>
        <string>__VERCEL_TARGET__</string>
        <key>FOLIO_SCRIBE_VERCEL_DOMAIN</key>
        <string>__VERCEL_DOMAIN__</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>__VAULT__</string>
</dict>
</plist>
